.form-signin .form-floating:focus-within {
    z-index: 2;
}

.form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.form-registration input {
    border-radius: 0;
    margin-bottom: -1px;
}
#kotak {
    border-radius: 15em 0em 15em 0em;
    background-color: #00B330; 
    height:100%; 
    margin-top:-12em; 
    /* z-index:-1; */
}
